.root {
    -fx-accent: rgba(96, 96, 96, 0.5);
    -fx-base: black;
    -fx-font: 14 Monospaced;
    -fx-focus-color: -fx-accent;
    -fx-control-inner-background: derive(-fx-base, 25%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.scroll-bar {
    -fx-color: derive(-fx-base, 15%);
    -fx-background-color: derive(-fx-base, 45%);
}